/* Account */
.accountTab .primaryPalette,
.individualPalette .accountBlock .primaryPalette {
    background-color: #236FBD;
    border-color: #236FBD;
}

.accountTab .secondaryPalette,
.individualPalette .accountBlock .secondaryPalette {
    background-color: #236FBD;
    border-color: #236FBD;
}

.accountTab .tertiaryPalette,
.individualPalette .accountBlock .tertiaryPalette {
    background-color: #8A9EBE;
    border-color: #8A9EBE;
}

.accountTab .tab .currentTab { background-image: url(/img/motif/left236FBD.gif); }
.accountTab .tab .currentTab div { background-image: url(/img/motif/right236FBD.gif); }
.accountTab .tabNavigation { background-image: url(/img/motif/bg236FBD.gif); }

.accountMru .mruIcon { background-image: url(/img/icon/accounts16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.accountTab .pageTitleIcon, .individualPalette .accountBlock .pageTitleIcon { background-image: url(/img/icon/accounts32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

.bRelatedList .accountBlock .relatedListIcon, .allTabTab .accountBlock .relatedListIcon { background-image: url(/img/icon/accounts24.png);
	background-position: 0px 0px;width:24px;
	height:24px; }

.bRelatedList .accountBlock .relatedListIcon {
    position: relative;
    display: inline;
}

.bRelatedList .accountBlock .pbTitle h3 {
    margin: 3px 0 0 32px;
}

/* AllTab */
.allTabTab .primaryPalette,
.individualPalette .allTabBlock .primaryPalette {
    background-color: #747E96;
    border-color: #747E96;
}

.allTabTab .secondaryPalette,
.individualPalette .allTabBlock .secondaryPalette {
    background-color: #747E96;
    border-color: #747E96;
}

.allTabTab .tertiaryPalette,
.individualPalette .allTabBlock .tertiaryPalette {
    background-color: #8E9DBE;
    border-color: #8E9DBE;
}

.allTabTab .tab .currentTab { background-image: url(/img/motif/left747E96.gif); }
.allTabTab .tab .currentTab div { background-image: url(/img/motif/right747E96.gif); }
.allTabTab .tabNavigation { background-image: url(/img/motif/bg747E96.gif); }

/* Asset */
.assetTab .primaryPalette,
.individualPalette .assetBlock .primaryPalette {
    background-color: #317992;
    border-color: #317992;
}

.assetTab .secondaryPalette,
.individualPalette .assetBlock .secondaryPalette {
    background-color: #317992;
    border-color: #317992;
}

.assetTab .tertiaryPalette,
.individualPalette .assetBlock .tertiaryPalette {
    background-color: #4D91B3;
    border-color: #4D91B3;
}

.assetTab .tab .currentTab { background-image: url(/img/motif/left317992.gif); }
.assetTab .tab .currentTab div { background-image: url(/img/motif/right317992.gif); }
.assetTab .tabNavigation { background-image: url(/img/motif/bg317992.gif); }

.assetMru .mruIcon { background-image: url(/img/icon/products16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.assetTab .pageTitleIcon, .individualPalette .assetBlock .pageTitleIcon { background-image: url(/img/icon/products32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

/* Campaign */
.campaignTab .primaryPalette,
.individualPalette .campaignBlock .primaryPalette {
    background-color: #CC9933;
    border-color: #CC9933;
}

.campaignTab .secondaryPalette,
.individualPalette .campaignBlock .secondaryPalette {
    background-color: #CC9933;
    border-color: #CC9933;
}

.campaignTab .tertiaryPalette,
.individualPalette .campaignBlock .tertiaryPalette {
    background-color: #E3B14F;
    border-color: #E3B14F;
}

.campaignTab .tab .currentTab { background-image: url(/img/motif/leftCC9933.gif); }
.campaignTab .tab .currentTab div { background-image: url(/img/motif/rightCC9933.gif); }
.campaignTab .tabNavigation { background-image: url(/img/motif/bgCC9933.gif); }

.campaignMru .mruIcon { background-image: url(/img/icon/campaigns16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.campaignTab .pageTitleIcon, .individualPalette .campaignBlock .pageTitleIcon { background-image: url(/img/icon/campaigns32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

.bRelatedList .campaignBlock .relatedListIcon, .allTabTab .campaignBlock .relatedListIcon { background-image: url(/img/icon/campaigns24.png);
	background-position: 0px 0px;width:24px;
	height:24px; }

.bRelatedList .campaignBlock .relatedListIcon {
    position: relative;
    display: inline;
}

.bRelatedList .campaignBlock .pbTitle h3 {
    margin: 3px 0 0 32px;
}

/* CampaignMember */
.campaignmemberTab .primaryPalette,
.individualPalette .campaignmemberBlock .primaryPalette {
    background-color: #CC9933;
    border-color: #CC9933;
}

.campaignmemberTab .secondaryPalette,
.individualPalette .campaignmemberBlock .secondaryPalette {
    background-color: #CC9933;
    border-color: #CC9933;
}

.campaignmemberTab .tertiaryPalette,
.individualPalette .campaignmemberBlock .tertiaryPalette {
    background-color: #E3B14F;
    border-color: #E3B14F;
}

.campaignmemberTab .tab .currentTab { background-image: url(/img/motif/leftCC9933.gif); }
.campaignmemberTab .tab .currentTab div { background-image: url(/img/motif/rightCC9933.gif); }
.campaignmemberTab .tabNavigation { background-image: url(/img/motif/bgCC9933.gif); }

.campaignmemberMru .mruIcon { background-image: url(/img/icon/campaignmember16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.campaignmemberTab .pageTitleIcon, .individualPalette .campaignmemberBlock .pageTitleIcon { background-image: url(/img/icon/campaignmember32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

.bRelatedList .campaignmemberBlock .relatedListIcon, .allTabTab .campaignmemberBlock .relatedListIcon { background-image: url(/img/icon/campaignmember24.png);
	background-position: 0px 0px;width:24px;
	height:24px; }

.bRelatedList .campaignmemberBlock .relatedListIcon {
    position: relative;
    display: inline;
}

.bRelatedList .campaignmemberBlock .pbTitle h3 {
    margin: 3px 0 0 32px;
}

/* Case */
.caseTab .primaryPalette,
.individualPalette .caseBlock .primaryPalette {
    background-color: #B7A752;
    border-color: #B7A752;
}

.caseTab .secondaryPalette,
.individualPalette .caseBlock .secondaryPalette {
    background-color: #B7A752;
    border-color: #B7A752;
}

.caseTab .tertiaryPalette,
.individualPalette .caseBlock .tertiaryPalette {
    background-color: #C0BE72;
    border-color: #C0BE72;
}

.caseTab .tab .currentTab { background-image: url(/img/motif/leftB7A752.gif); }
.caseTab .tab .currentTab div { background-image: url(/img/motif/rightB7A752.gif); }
.caseTab .tabNavigation { background-image: url(/img/motif/bgB7A752.gif); }

.caseMru .mruIcon { background-image: url(/img/icon/cases16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.caseTab .pageTitleIcon, .individualPalette .caseBlock .pageTitleIcon { background-image: url(/img/icon/cases32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

.bRelatedList .caseBlock .relatedListIcon, .allTabTab .caseBlock .relatedListIcon { background-image: url(/img/icon/cases24.png);
	background-position: 0px 0px;width:24px;
	height:24px; }

.bRelatedList .caseBlock .relatedListIcon {
    position: relative;
    display: inline;
}

.bRelatedList .caseBlock .pbTitle h3 {
    margin: 3px 0 0 32px;
}

/* Console */
.consoleTab .primaryPalette,
.individualPalette .consoleBlock .primaryPalette {
    background-color: #555555;
    border-color: #555555;
}

.consoleTab .secondaryPalette,
.individualPalette .consoleBlock .secondaryPalette {
    background-color: #555555;
    border-color: #555555;
}

.consoleTab .tertiaryPalette,
.individualPalette .consoleBlock .tertiaryPalette {
    background-color: #ADB380;
    border-color: #ADB380;
}

.consoleTab .tab .currentTab { background-image: url(/img/motif/left555555.gif); }
.consoleTab .tab .currentTab div { background-image: url(/img/motif/right555555.gif); }
.consoleTab .tabNavigation { background-image: url(/img/motif/bg555555.gif); }

.consoleMru .mruIcon { background-image: url(/img/icon/console16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.consoleTab .pageTitleIcon, .individualPalette .consoleBlock .pageTitleIcon { background-image: url(/img/icon/console32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

.bRelatedList .consoleBlock .relatedListIcon, .allTabTab .consoleBlock .relatedListIcon { background-image: url(/img/icon/console24.png);
	background-position: 0px 0px;width:24px;
	height:24px; }

.bRelatedList .consoleBlock .relatedListIcon {
    position: relative;
    display: inline;
}

.bRelatedList .consoleBlock .pbTitle h3 {
    margin: 3px 0 0 32px;
}

/* Contact */
.contactTab .primaryPalette,
.individualPalette .contactBlock .primaryPalette {
    background-color: #56458C;
    border-color: #56458C;
}

.contactTab .secondaryPalette,
.individualPalette .contactBlock .secondaryPalette {
    background-color: #56458C;
    border-color: #56458C;
}

.contactTab .tertiaryPalette,
.individualPalette .contactBlock .tertiaryPalette {
    background-color: #8370C2;
    border-color: #8370C2;
}

.contactTab .tab .currentTab { background-image: url(/img/motif/left56458C.gif); }
.contactTab .tab .currentTab div { background-image: url(/img/motif/right56458C.gif); }
.contactTab .tabNavigation { background-image: url(/img/motif/bg56458C.gif); }

.contactMru .mruIcon { background-image: url(/img/icon/contacts16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.contactTab .pageTitleIcon, .individualPalette .contactBlock .pageTitleIcon { background-image: url(/img/icon/contacts32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

.bRelatedList .contactBlock .relatedListIcon, .allTabTab .contactBlock .relatedListIcon { background-image: url(/img/icon/contacts24.png);
	background-position: 0px 0px;width:24px;
	height:24px; }

.bRelatedList .contactBlock .relatedListIcon {
    position: relative;
    display: inline;
}

.bRelatedList .contactBlock .pbTitle h3 {
    margin: 3px 0 0 32px;
}

/* Contract */
.contractTab .primaryPalette,
.individualPalette .contractBlock .primaryPalette {
    background-color: #66895F;
    border-color: #66895F;
}

.contractTab .secondaryPalette,
.individualPalette .contractBlock .secondaryPalette {
    background-color: #66895F;
    border-color: #66895F;
}

.contractTab .tertiaryPalette,
.individualPalette .contractBlock .tertiaryPalette {
    background-color: #8CAB87;
    border-color: #8CAB87;
}

.contractTab .tab .currentTab { background-image: url(/img/motif/left66895F.gif); }
.contractTab .tab .currentTab div { background-image: url(/img/motif/right66895F.gif); }
.contractTab .tabNavigation { background-image: url(/img/motif/bg66895F.gif); }

.contractMru .mruIcon { background-image: url(/img/icon/contracts16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.contractTab .pageTitleIcon, .individualPalette .contractBlock .pageTitleIcon { background-image: url(/img/icon/contracts32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

.bRelatedList .contractBlock .relatedListIcon, .allTabTab .contractBlock .relatedListIcon { background-image: url(/img/icon/contracts24.png);
	background-position: 0px 0px;width:24px;
	height:24px; }

.bRelatedList .contractBlock .relatedListIcon {
    position: relative;
    display: inline;
}

.bRelatedList .contractBlock .pbTitle h3 {
    margin: 3px 0 0 32px;
}

/* CustomNoTab */
.customnotabTab .primaryPalette,
.individualPalette .customnotabBlock .primaryPalette {
    background-color: #747E96;
    border-color: #747E96;
}

.customnotabTab .secondaryPalette,
.individualPalette .customnotabBlock .secondaryPalette {
    background-color: #747E96;
    border-color: #747E96;
}

.customnotabTab .tertiaryPalette,
.individualPalette .customnotabBlock .tertiaryPalette {
    background-color: #8E9DBE;
    border-color: #8E9DBE;
}

.customnotabTab .tab .currentTab { background-image: url(/img/motif/left747E96.gif); }
.customnotabTab .tab .currentTab div { background-image: url(/img/motif/right747E96.gif); }
.customnotabTab .tabNavigation { background-image: url(/img/motif/bg747E96.gif); }

.customnotabMru .mruIcon { background-image: url(/img/icon/custom16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.customnotabTab .pageTitleIcon, .individualPalette .customnotabBlock .pageTitleIcon { background-image: url(/img/icon/custom32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

/* Dashboard */
.dashboardTab .primaryPalette,
.individualPalette .dashboardBlock .primaryPalette {
    background-color: #861614;
    border-color: #861614;
}

.dashboardTab .secondaryPalette,
.individualPalette .dashboardBlock .secondaryPalette {
    background-color: #861614;
    border-color: #861614;
}

.dashboardTab .tertiaryPalette,
.individualPalette .dashboardBlock .tertiaryPalette {
    background-color: #A55647;
    border-color: #A55647;
}

.dashboardTab .tab .currentTab { background-image: url(/img/motif/left861614.gif); }
.dashboardTab .tab .currentTab div { background-image: url(/img/motif/right861614.gif); }
.dashboardTab .tabNavigation { background-image: url(/img/motif/bg861614.gif); }

.dashboardMru .mruIcon { background-image: url(/img/icon/dashboards16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.dashboardTab .pageTitleIcon, .individualPalette .dashboardBlock .pageTitleIcon { background-image: url(/img/icon/dashboards32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

.bRelatedList .dashboardBlock .relatedListIcon, .allTabTab .dashboardBlock .relatedListIcon { background-image: url(/img/icon/dashboards24.png);
	background-position: 0px 0px;width:24px;
	height:24px; }

.bRelatedList .dashboardBlock .relatedListIcon {
    position: relative;
    display: inline;
}

.bRelatedList .dashboardBlock .pbTitle h3 {
    margin: 3px 0 0 32px;
}

/* Document */
.documentTab .primaryPalette,
.individualPalette .documentBlock .primaryPalette {
    background-color: #419BA6;
    border-color: #419BA6;
}

.documentTab .secondaryPalette,
.individualPalette .documentBlock .secondaryPalette {
    background-color: #419BA6;
    border-color: #419BA6;
}

.documentTab .tertiaryPalette,
.individualPalette .documentBlock .tertiaryPalette {
    background-color: #86B2B6;
    border-color: #86B2B6;
}

.documentTab .tab .currentTab { background-image: url(/img/motif/left419BA6.gif); }
.documentTab .tab .currentTab div { background-image: url(/img/motif/right419BA6.gif); }
.documentTab .tabNavigation { background-image: url(/img/motif/bg419BA6.gif); }

.documentMru .mruIcon { background-image: url(/img/icon/documents16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.documentTab .pageTitleIcon, .individualPalette .documentBlock .pageTitleIcon { background-image: url(/img/icon/documents32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

.bRelatedList .documentBlock .relatedListIcon, .allTabTab .documentBlock .relatedListIcon { background-image: url(/img/icon/documents24.png);
	background-position: 0px 0px;width:24px;
	height:24px; }

.bRelatedList .documentBlock .relatedListIcon {
    position: relative;
    display: inline;
}

.bRelatedList .documentBlock .pbTitle h3 {
    margin: 3px 0 0 32px;
}

/* Event */
.eventTab .primaryPalette,
.individualPalette .eventBlock .primaryPalette {
    background-color: #4F9241;
    border-color: #4F9241;
}

.eventTab .secondaryPalette,
.individualPalette .eventBlock .secondaryPalette {
    background-color: #4F9241;
    border-color: #4F9241;
}

.eventTab .tertiaryPalette,
.individualPalette .eventBlock .tertiaryPalette {
    background-color: #8DAE84;
    border-color: #8DAE84;
}

.eventTab .tab .currentTab { background-image: url(/img/motif/left4F9241.gif); }
.eventTab .tab .currentTab div { background-image: url(/img/motif/right4F9241.gif); }
.eventTab .tabNavigation { background-image: url(/img/motif/bg4F9241.gif); }

.eventMru .mruIcon { background-image: url(/img/icon/calendar16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.eventTab .pageTitleIcon, .individualPalette .eventBlock .pageTitleIcon { background-image: url(/img/icon/home32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

/* Forecast */
.forecastTab .primaryPalette,
.individualPalette .forecastBlock .primaryPalette {
    background-color: #5889D6;
    border-color: #5889D6;
}

.forecastTab .secondaryPalette,
.individualPalette .forecastBlock .secondaryPalette {
    background-color: #5889D6;
    border-color: #5889D6;
}

.forecastTab .tertiaryPalette,
.individualPalette .forecastBlock .tertiaryPalette {
    background-color: #829DC9;
    border-color: #829DC9;
}

.forecastTab .tab .currentTab { background-image: url(/img/motif/left5889D6.gif); }
.forecastTab .tab .currentTab div { background-image: url(/img/motif/right5889D6.gif); }
.forecastTab .tabNavigation { background-image: url(/img/motif/bg5889D6.gif); }

.forecastMru .mruIcon { background-image: url(/img/icon/forecasts16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.forecastTab .pageTitleIcon, .individualPalette .forecastBlock .pageTitleIcon { background-image: url(/img/icon/forecasts32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

.bRelatedList .forecastBlock .relatedListIcon, .allTabTab .forecastBlock .relatedListIcon { background-image: url(/img/icon/forecasts24.png);
	background-position: 0px 0px;width:24px;
	height:24px; }

.bRelatedList .forecastBlock .relatedListIcon {
    position: relative;
    display: inline;
}

.bRelatedList .forecastBlock .pbTitle h3 {
    margin: 3px 0 0 32px;
}

/* Home */
.homeTab .primaryPalette,
.individualPalette .homeBlock .primaryPalette {
    background-color: #4F9241;
    border-color: #4F9241;
}

.homeTab .secondaryPalette,
.individualPalette .homeBlock .secondaryPalette {
    background-color: #4F9241;
    border-color: #4F9241;
}

.homeTab .tertiaryPalette,
.individualPalette .homeBlock .tertiaryPalette {
    background-color: #8DAE84;
    border-color: #8DAE84;
}

.homeTab .tab .currentTab { background-image: url(/img/motif/left4F9241.gif); }
.homeTab .tab .currentTab div { background-image: url(/img/motif/right4F9241.gif); }
.homeTab .tabNavigation { background-image: url(/img/motif/bg4F9241.gif); }

.homeMru .mruIcon { background-image: url(/img/icon/home16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.homeTab .pageTitleIcon, .individualPalette .homeBlock .pageTitleIcon { background-image: url(/img/icon/home32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

.bRelatedList .homeBlock .relatedListIcon, .allTabTab .homeBlock .relatedListIcon { background-image: url(/img/icon/home24.png);
	background-position: 0px 0px;width:24px;
	height:24px; }

.bRelatedList .homeBlock .relatedListIcon {
    position: relative;
    display: inline;
}

.bRelatedList .homeBlock .pbTitle h3 {
    margin: 3px 0 0 32px;
}

/* Invoice */
.invoiceTab .primaryPalette,
.individualPalette .invoiceBlock .primaryPalette {
    background-color: #66AA99;
    border-color: #66AA99;
}

.invoiceTab .secondaryPalette,
.individualPalette .invoiceBlock .secondaryPalette {
    background-color: #66AA99;
    border-color: #66AA99;
}

.invoiceTab .tertiaryPalette,
.individualPalette .invoiceBlock .tertiaryPalette {
    background-color: #39B698;
    border-color: #39B698;
}

.invoiceTab .tab .currentTab { background-image: url(/img/motif/left66AA99.gif); }
.invoiceTab .tab .currentTab div { background-image: url(/img/motif/right66AA99.gif); }
.invoiceTab .tabNavigation { background-image: url(/img/motif/bg66AA99.gif); }

.invoiceMru .mruIcon { background-image: url(/img/icon/invoices16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.invoiceTab .pageTitleIcon, .individualPalette .invoiceBlock .pageTitleIcon { background-image: url(/img/icon/invoices32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

.bRelatedList .invoiceBlock .relatedListIcon, .allTabTab .invoiceBlock .relatedListIcon { background-image: url(/img/icon/invoices24.png);
	background-position: 0px 0px;width:24px;
	height:24px; }

.bRelatedList .invoiceBlock .relatedListIcon {
    position: relative;
    display: inline;
}

.bRelatedList .invoiceBlock .pbTitle h3 {
    margin: 3px 0 0 32px;
}

/* Lead */
.leadTab .primaryPalette,
.individualPalette .leadBlock .primaryPalette {
    background-color: #E39321;
    border-color: #E39321;
}

.leadTab .secondaryPalette,
.individualPalette .leadBlock .secondaryPalette {
    background-color: #E39321;
    border-color: #E39321;
}

.leadTab .tertiaryPalette,
.individualPalette .leadBlock .tertiaryPalette {
    background-color: #EBAF59;
    border-color: #EBAF59;
}

.leadTab .tab .currentTab { background-image: url(/img/motif/leftE39321.gif); }
.leadTab .tab .currentTab div { background-image: url(/img/motif/rightE39321.gif); }
.leadTab .tabNavigation { background-image: url(/img/motif/bgE39321.gif); }

.leadMru .mruIcon { background-image: url(/img/icon/leads16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.leadTab .pageTitleIcon, .individualPalette .leadBlock .pageTitleIcon { background-image: url(/img/icon/leads32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

.bRelatedList .leadBlock .relatedListIcon, .allTabTab .leadBlock .relatedListIcon { background-image: url(/img/icon/leads24.png);
	background-position: 0px 0px;width:24px;
	height:24px; }

.bRelatedList .leadBlock .relatedListIcon {
    position: relative;
    display: inline;
}

.bRelatedList .leadBlock .pbTitle h3 {
    margin: 3px 0 0 32px;
}

/* Lookup */
.lookupTab .primaryPalette,
.individualPalette .lookupBlock .primaryPalette {
    background-color: #737E96;
    border-color: #737E96;
}

.lookupTab .secondaryPalette,
.individualPalette .lookupBlock .secondaryPalette {
    background-color: #737E96;
    border-color: #737E96;
}

.lookupTab .tertiaryPalette,
.individualPalette .lookupBlock .tertiaryPalette {
    background-color: #8E9DBE;
    border-color: #8E9DBE;
}

.lookupTab .tab .currentTab { background-image: url(/img/motif/left737E96.gif); }
.lookupTab .tab .currentTab div { background-image: url(/img/motif/right737E96.gif); }
.lookupTab .tabNavigation { background-image: url(/img/motif/bg737E96.gif); }

.lookupMru .mruIcon { background-image: url(/img/icon/custom16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.lookupTab .pageTitleIcon, .individualPalette .lookupBlock .pageTitleIcon { background-image: url(/img/icon/lookup32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

.bRelatedList .lookupBlock .relatedListIcon, .allTabTab .lookupBlock .relatedListIcon { background-image: url(/img/icon/custom24.png);
	background-position: 0px 0px;width:24px;
	height:24px; }

.bRelatedList .lookupBlock .relatedListIcon {
    position: relative;
    display: inline;
}

.bRelatedList .lookupBlock .pbTitle h3 {
    margin: 3px 0 0 32px;
}

/* Opportunity */
.opportunityTab .primaryPalette,
.individualPalette .opportunityBlock .primaryPalette {
    background-color: #E5C130;
    border-color: #E5C130;
}

.opportunityTab .secondaryPalette,
.individualPalette .opportunityBlock .secondaryPalette {
    background-color: #E5C130;
    border-color: #E5C130;
}

.opportunityTab .tertiaryPalette,
.individualPalette .opportunityBlock .tertiaryPalette {
    background-color: #DDB929;
    border-color: #DDB929;
}

.opportunityTab .tab .currentTab { background-image: url(/img/motif/leftE5C130.gif); }
.opportunityTab .tab .currentTab div { background-image: url(/img/motif/rightE5C130.gif); }
.opportunityTab .tabNavigation { background-image: url(/img/motif/bgE5C130.gif); }

.opportunityMru .mruIcon { background-image: url(/img/icon/opportunities16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.opportunityTab .pageTitleIcon, .individualPalette .opportunityBlock .pageTitleIcon { background-image: url(/img/icon/opportunities32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

.bRelatedList .opportunityBlock .relatedListIcon, .allTabTab .opportunityBlock .relatedListIcon { background-image: url(/img/icon/opportunities24.png);
	background-position: 0px 0px;width:24px;
	height:24px; }

.bRelatedList .opportunityBlock .relatedListIcon {
    position: relative;
    display: inline;
}

.bRelatedList .opportunityBlock .pbTitle h3 {
    margin: 3px 0 0 32px;
}

/* Quote */
.quoteTab .primaryPalette,
.individualPalette .quoteBlock .primaryPalette {
    background-color: #E5C130;
    border-color: #E5C130;
}

.quoteTab .secondaryPalette,
.individualPalette .quoteBlock .secondaryPalette {
    background-color: #E5C130;
    border-color: #E5C130;
}

.quoteTab .tertiaryPalette,
.individualPalette .quoteBlock .tertiaryPalette {
    background-color: #DDB929;
    border-color: #DDB929;
}

.quoteTab .tab .currentTab { background-image: url(/img/motif/leftE5C130.gif); }
.quoteTab .tab .currentTab div { background-image: url(/img/motif/rightE5C130.gif); }
.quoteTab .tabNavigation { background-image: url(/img/motif/bgE5C130.gif); }

.quoteMru .mruIcon { background-image: url(/img/icon/quotes16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.quoteTab .pageTitleIcon, .individualPalette .quoteBlock .pageTitleIcon { background-image: url(/img/icon/quotes32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

.bRelatedList .quoteBlock .relatedListIcon, .allTabTab .quoteBlock .relatedListIcon { background-image: url(/img/icon/quotes24.png);
	background-position: 0px 0px;width:24px;
	height:24px; }

.bRelatedList .quoteBlock .relatedListIcon {
    position: relative;
    display: inline;
}

.bRelatedList .quoteBlock .pbTitle h3 {
    margin: 3px 0 0 32px;
}

/* QuoteLineItem */
.quoteLineItemTab .primaryPalette,
.individualPalette .quoteLineItemBlock .primaryPalette {
    background-color: #E5C130;
    border-color: #E5C130;
}

.quoteLineItemTab .secondaryPalette,
.individualPalette .quoteLineItemBlock .secondaryPalette {
    background-color: #E5C130;
    border-color: #E5C130;
}

.quoteLineItemTab .tertiaryPalette,
.individualPalette .quoteLineItemBlock .tertiaryPalette {
    background-color: #DDB929;
    border-color: #DDB929;
}

.quoteLineItemTab .tab .currentTab { background-image: url(/img/motif/leftE5C130.gif); }
.quoteLineItemTab .tab .currentTab div { background-image: url(/img/motif/rightE5C130.gif); }
.quoteLineItemTab .tabNavigation { background-image: url(/img/motif/bgE5C130.gif); }

.quoteLineItemMru .mruIcon { background-image: url(/img/icon/quotes16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.quoteLineItemTab .pageTitleIcon, .individualPalette .quoteLineItemBlock .pageTitleIcon { background-image: url(/img/icon/quotes32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

/* QuoteDocument */
.quoteDocumentTab .primaryPalette,
.individualPalette .quoteDocumentBlock .primaryPalette {
    background-color: #E5C130;
    border-color: #E5C130;
}

.quoteDocumentTab .secondaryPalette,
.individualPalette .quoteDocumentBlock .secondaryPalette {
    background-color: #E5C130;
    border-color: #E5C130;
}

.quoteDocumentTab .tertiaryPalette,
.individualPalette .quoteDocumentBlock .tertiaryPalette {
    background-color: #DDB929;
    border-color: #DDB929;
}

.quoteDocumentTab .tab .currentTab { background-image: url(/img/motif/leftE5C130.gif); }
.quoteDocumentTab .tab .currentTab div { background-image: url(/img/motif/rightE5C130.gif); }
.quoteDocumentTab .tabNavigation { background-image: url(/img/motif/bgE5C130.gif); }

.quoteDocumentMru .mruIcon { background-image: url(/img/icon/quotes16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.quoteDocumentTab .pageTitleIcon, .individualPalette .quoteDocumentBlock .pageTitleIcon { background-image: url(/img/icon/quotes32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

/* Order */
.orderTab .primaryPalette,
.individualPalette .orderBlock .primaryPalette {
    background-color: #00655A;
    border-color: #00655A;
}

.orderTab .secondaryPalette,
.individualPalette .orderBlock .secondaryPalette {
    background-color: #00655A;
    border-color: #00655A;
}

.orderTab .tertiaryPalette,
.individualPalette .orderBlock .tertiaryPalette {
    background-color: #6AAFA2;
    border-color: #6AAFA2;
}

.orderTab .tab .currentTab { background-image: url(/img/motif/left00655A.gif); }
.orderTab .tab .currentTab div { background-image: url(/img/motif/right00655A.gif); }
.orderTab .tabNavigation { background-image: url(/img/motif/bg00655A.gif); }

.orderMru .mruIcon { background-image: url(/img/icon/orderBell16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.orderTab .pageTitleIcon, .individualPalette .orderBlock .pageTitleIcon { background-image: url(/img/icon/orderBell32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

.bRelatedList .orderBlock .relatedListIcon, .allTabTab .orderBlock .relatedListIcon { background-image: url(/img/icon/orderBell24.png);
	background-position: 0px 0px;width:24px;
	height:24px; }

.bRelatedList .orderBlock .relatedListIcon {
    position: relative;
    display: inline;
}

.bRelatedList .orderBlock .pbTitle h3 {
    margin: 3px 0 0 32px;
}

/* PersonAccount */
.personaccountTab .primaryPalette,
.individualPalette .personaccountBlock .primaryPalette {
    background-color: #236FBD;
    border-color: #236FBD;
}

.personaccountTab .secondaryPalette,
.individualPalette .personaccountBlock .secondaryPalette {
    background-color: #236FBD;
    border-color: #236FBD;
}

.personaccountTab .tertiaryPalette,
.individualPalette .personaccountBlock .tertiaryPalette {
    background-color: #8A9EBE;
    border-color: #8A9EBE;
}

.personaccountTab .tab .currentTab { background-image: url(/img/motif/left236FBD.gif); }
.personaccountTab .tab .currentTab div { background-image: url(/img/motif/right236FBD.gif); }
.personaccountTab .tabNavigation { background-image: url(/img/motif/bg236FBD.gif); }

.personaccountMru .mruIcon { background-image: url(/img/icon/perAccounts16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.personaccountTab .pageTitleIcon, .individualPalette .personaccountBlock .pageTitleIcon { background-image: url(/img/icon/perAccounts32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

.bRelatedList .personaccountBlock .relatedListIcon, .allTabTab .personaccountBlock .relatedListIcon { background-image: url(/img/icon/accounts24.png);
	background-position: 0px 0px;width:24px;
	height:24px; }

.bRelatedList .personaccountBlock .relatedListIcon {
    position: relative;
    display: inline;
}

.bRelatedList .personaccountBlock .pbTitle h3 {
    margin: 3px 0 0 32px;
}

/* Portal */
.portalTab .primaryPalette,
.individualPalette .portalBlock .primaryPalette {
    background-color: #999933;
    border-color: #999933;
}

.portalTab .secondaryPalette,
.individualPalette .portalBlock .secondaryPalette {
    background-color: #999933;
    border-color: #999933;
}

.portalTab .tertiaryPalette,
.individualPalette .portalBlock .tertiaryPalette {
    background-color: #ADB380;
    border-color: #ADB380;
}

.portalTab .tab .currentTab { background-image: url(/img/motif/left999933.gif); }
.portalTab .tab .currentTab div { background-image: url(/img/motif/right999933.gif); }
.portalTab .tabNavigation { background-image: url(/img/motif/bg999933.gif); }

.portalMru .mruIcon { background-image: url(/img/icon/portals16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.portalTab .pageTitleIcon, .individualPalette .portalBlock .pageTitleIcon { background-image: url(/img/icon/portals32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

.bRelatedList .portalBlock .relatedListIcon, .allTabTab .portalBlock .relatedListIcon { background-image: url(/img/icon/portals24.png);
	background-position: 0px 0px;width:24px;
	height:24px; }

.bRelatedList .portalBlock .relatedListIcon {
    position: relative;
    display: inline;
}

.bRelatedList .portalBlock .pbTitle h3 {
    margin: 3px 0 0 32px;
}

/* Pricebook2 */
.pricebookTab .primaryPalette,
.individualPalette .pricebookBlock .primaryPalette {
    background-color: #317992;
    border-color: #317992;
}

.pricebookTab .secondaryPalette,
.individualPalette .pricebookBlock .secondaryPalette {
    background-color: #317992;
    border-color: #317992;
}

.pricebookTab .tertiaryPalette,
.individualPalette .pricebookBlock .tertiaryPalette {
    background-color: #4D91B3;
    border-color: #4D91B3;
}

.pricebookTab .tab .currentTab { background-image: url(/img/motif/left317992.gif); }
.pricebookTab .tab .currentTab div { background-image: url(/img/motif/right317992.gif); }
.pricebookTab .tabNavigation { background-image: url(/img/motif/bg317992.gif); }

.pricebookMru .mruIcon { background-image: url(/img/icon/products16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.pricebookTab .pageTitleIcon, .individualPalette .pricebookBlock .pageTitleIcon { background-image: url(/img/icon/products32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

/* PricebookEntry */
.pricebookentryTab .primaryPalette,
.individualPalette .pricebookentryBlock .primaryPalette {
    background-color: #317992;
    border-color: #317992;
}

.pricebookentryTab .secondaryPalette,
.individualPalette .pricebookentryBlock .secondaryPalette {
    background-color: #317992;
    border-color: #317992;
}

.pricebookentryTab .tertiaryPalette,
.individualPalette .pricebookentryBlock .tertiaryPalette {
    background-color: #4D91B3;
    border-color: #4D91B3;
}

.pricebookentryTab .tab .currentTab { background-image: url(/img/motif/left317992.gif); }
.pricebookentryTab .tab .currentTab div { background-image: url(/img/motif/right317992.gif); }
.pricebookentryTab .tabNavigation { background-image: url(/img/motif/bg317992.gif); }

.pricebookentryMru .mruIcon { background-image: url(/img/icon/products16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.pricebookentryTab .pageTitleIcon, .individualPalette .pricebookentryBlock .pageTitleIcon { background-image: url(/img/icon/products32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

/* Product2 */
.productTab .primaryPalette,
.individualPalette .productBlock .primaryPalette {
    background-color: #317992;
    border-color: #317992;
}

.productTab .secondaryPalette,
.individualPalette .productBlock .secondaryPalette {
    background-color: #317992;
    border-color: #317992;
}

.productTab .tertiaryPalette,
.individualPalette .productBlock .tertiaryPalette {
    background-color: #4D91B3;
    border-color: #4D91B3;
}

.productTab .tab .currentTab { background-image: url(/img/motif/left317992.gif); }
.productTab .tab .currentTab div { background-image: url(/img/motif/right317992.gif); }
.productTab .tabNavigation { background-image: url(/img/motif/bg317992.gif); }

.productMru .mruIcon { background-image: url(/img/icon/products16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.productTab .pageTitleIcon, .individualPalette .productBlock .pageTitleIcon { background-image: url(/img/icon/products32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

.bRelatedList .productBlock .relatedListIcon, .allTabTab .productBlock .relatedListIcon { background-image: url(/img/icon/products24.png);
	background-position: 0px 0px;width:24px;
	height:24px; }

.bRelatedList .productBlock .relatedListIcon {
    position: relative;
    display: inline;
}

.bRelatedList .productBlock .pbTitle h3 {
    margin: 3px 0 0 32px;
}

/* Report */
.reportTab .primaryPalette,
.individualPalette .reportBlock .primaryPalette {
    background-color: #A55647;
    border-color: #A55647;
}

.reportTab .secondaryPalette,
.individualPalette .reportBlock .secondaryPalette {
    background-color: #A55647;
    border-color: #A55647;
}

.reportTab .tertiaryPalette,
.individualPalette .reportBlock .tertiaryPalette {
    background-color: #AF756A;
    border-color: #AF756A;
}

.reportTab .tab .currentTab { background-image: url(/img/motif/leftA55647.gif); }
.reportTab .tab .currentTab div { background-image: url(/img/motif/rightA55647.gif); }
.reportTab .tabNavigation { background-image: url(/img/motif/bgA55647.gif); }

.reportMru .mruIcon { background-image: url(/img/icon/reports16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.reportTab .pageTitleIcon, .individualPalette .reportBlock .pageTitleIcon { background-image: url(/img/icon/reports32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

.bRelatedList .reportBlock .relatedListIcon, .allTabTab .reportBlock .relatedListIcon { background-image: url(/img/icon/reports24.png);
	background-position: 0px 0px;width:24px;
	height:24px; }

.bRelatedList .reportBlock .relatedListIcon {
    position: relative;
    display: inline;
}

.bRelatedList .reportBlock .pbTitle h3 {
    margin: 3px 0 0 32px;
}

/* Setup */
.setupTab .primaryPalette,
.individualPalette .setupBlock .primaryPalette {
    background-color: #747E96;
    border-color: #747E96;
}

.setupTab .secondaryPalette,
.individualPalette .setupBlock .secondaryPalette {
    background-color: #747E96;
    border-color: #747E96;
}

.setupTab .tertiaryPalette,
.individualPalette .setupBlock .tertiaryPalette {
    background-color: #8E9DBE;
    border-color: #8E9DBE;
}

.setupTab .tab .currentTab { background-image: url(/img/motif/left747E96.gif); }
.setupTab .tab .currentTab div { background-image: url(/img/motif/right747E96.gif); }
.setupTab .tabNavigation { background-image: url(/img/motif/bg747E96.gif); }

.setupMru .mruIcon { background-image: url(/img/icon/custom16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.setupTab .pageTitleIcon, .individualPalette .setupBlock .pageTitleIcon { background-image: url(/img/icon/custom32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

/* Solution */
.solutionTab .primaryPalette,
.individualPalette .solutionBlock .primaryPalette {
    background-color: #608B06;
    border-color: #608B06;
}

.solutionTab .secondaryPalette,
.individualPalette .solutionBlock .secondaryPalette {
    background-color: #567A00;
    border-color: #567A00;
}

.solutionTab .tertiaryPalette,
.individualPalette .solutionBlock .tertiaryPalette {
    background-color: #8A9744;
    border-color: #8A9744;
}

.solutionTab .tab .currentTab { background-image: url(/img/motif/left608B06.gif); }
.solutionTab .tab .currentTab div { background-image: url(/img/motif/right608B06.gif); }
.solutionTab .tabNavigation { background-image: url(/img/motif/bg608B06.gif); }

.solutionMru .mruIcon { background-image: url(/img/icon/solutions16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.solutionTab .pageTitleIcon, .individualPalette .solutionBlock .pageTitleIcon { background-image: url(/img/icon/solutions32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

.bRelatedList .solutionBlock .relatedListIcon, .allTabTab .solutionBlock .relatedListIcon { background-image: url(/img/icon/solutions24.png);
	background-position: 0px 0px;width:24px;
	height:24px; }

.bRelatedList .solutionBlock .relatedListIcon {
    position: relative;
    display: inline;
}

.bRelatedList .solutionBlock .pbTitle h3 {
    margin: 3px 0 0 32px;
}

/* SysAdmin */
.sysAdminTab .primaryPalette,
.individualPalette .sysAdminBlock .primaryPalette {
    background-color: #000000;
    border-color: #000000;
}

.sysAdminTab .secondaryPalette,
.individualPalette .sysAdminBlock .secondaryPalette {
    background-color: #000000;
    border-color: #000000;
}

.sysAdminTab .tertiaryPalette,
.individualPalette .sysAdminBlock .tertiaryPalette {
    background-color: #000000;
    border-color: #000000;
}

.sysAdminTab .tab .currentTab { background-image: url(/img/motif/left000000.gif); }
.sysAdminTab .tab .currentTab div { background-image: url(/img/motif/right000000.gif); }
.sysAdminTab .tabNavigation { background-image: url(/img/motif/bg000000.gif); }

/* Task */
.taskTab .primaryPalette,
.individualPalette .taskBlock .primaryPalette {
    background-color: #4F9241;
    border-color: #4F9241;
}

.taskTab .secondaryPalette,
.individualPalette .taskBlock .secondaryPalette {
    background-color: #4F9241;
    border-color: #4F9241;
}

.taskTab .tertiaryPalette,
.individualPalette .taskBlock .tertiaryPalette {
    background-color: #8DAE84;
    border-color: #8DAE84;
}

.taskTab .tab .currentTab { background-image: url(/img/motif/left4F9241.gif); }
.taskTab .tab .currentTab div { background-image: url(/img/motif/right4F9241.gif); }
.taskTab .tabNavigation { background-image: url(/img/motif/bg4F9241.gif); }

.taskMru .mruIcon { background-image: url(/img/icon/tasks16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.taskTab .pageTitleIcon, .individualPalette .taskBlock .pageTitleIcon { background-image: url(/img/icon/home32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

/* OpportunityCompetitor */
.opportunityCompetitorTab .primaryPalette,
.individualPalette .opportunityCompetitorBlock .primaryPalette {
    background-color: #E5C130;
    border-color: #E5C130;
}

.opportunityCompetitorTab .secondaryPalette,
.individualPalette .opportunityCompetitorBlock .secondaryPalette {
    background-color: #E5C130;
    border-color: #E5C130;
}

.opportunityCompetitorTab .tertiaryPalette,
.individualPalette .opportunityCompetitorBlock .tertiaryPalette {
    background-color: #DDB929;
    border-color: #DDB929;
}

.opportunityCompetitorTab .tab .currentTab { background-image: url(/img/motif/leftE5C130.gif); }
.opportunityCompetitorTab .tab .currentTab div { background-image: url(/img/motif/rightE5C130.gif); }
.opportunityCompetitorTab .tabNavigation { background-image: url(/img/motif/bgE5C130.gif); }

.opportunityCompetitorMru .mruIcon { background-image: url(/img/icon/opportunities16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.opportunityCompetitorTab .pageTitleIcon, .individualPalette .opportunityCompetitorBlock .pageTitleIcon { background-image: url(/img/icon/opportunities32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

/* OpportunityLineItem */
.opportunityLineItemTab .primaryPalette,
.individualPalette .opportunityLineItemBlock .primaryPalette {
    background-color: #E5C130;
    border-color: #E5C130;
}

.opportunityLineItemTab .secondaryPalette,
.individualPalette .opportunityLineItemBlock .secondaryPalette {
    background-color: #E5C130;
    border-color: #E5C130;
}

.opportunityLineItemTab .tertiaryPalette,
.individualPalette .opportunityLineItemBlock .tertiaryPalette {
    background-color: #DDB929;
    border-color: #DDB929;
}

.opportunityLineItemTab .tab .currentTab { background-image: url(/img/motif/leftE5C130.gif); }
.opportunityLineItemTab .tab .currentTab div { background-image: url(/img/motif/rightE5C130.gif); }
.opportunityLineItemTab .tabNavigation { background-image: url(/img/motif/bgE5C130.gif); }

.opportunityLineItemMru .mruIcon { background-image: url(/img/icon/opportunities16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.opportunityLineItemTab .pageTitleIcon, .individualPalette .opportunityLineItemBlock .pageTitleIcon { background-image: url(/img/icon/opportunities32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

/* PartnerNetworkConnection */
.partnerNetworkConnectionTab .primaryPalette,
.individualPalette .partnerNetworkConnectionBlock .primaryPalette {
    background-color: #64B49D;
    border-color: #64B49D;
}

.partnerNetworkConnectionTab .secondaryPalette,
.individualPalette .partnerNetworkConnectionBlock .secondaryPalette {
    background-color: #64B49D;
    border-color: #64B49D;
}

.partnerNetworkConnectionTab .tertiaryPalette,
.individualPalette .partnerNetworkConnectionBlock .tertiaryPalette {
    background-color: #64B49D;
    border-color: #64B49D;
}

.partnerNetworkConnectionTab .tab .currentTab { background-image: url(/img/motif/left64B49D.gif); }
.partnerNetworkConnectionTab .tab .currentTab div { background-image: url(/img/motif/right64B49D.gif); }
.partnerNetworkConnectionTab .tabNavigation { background-image: url(/img/motif/bg64B49D.gif); }

.partnerNetworkConnectionMru .mruIcon { background-image: url(/img/icon/pnet_connection16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.partnerNetworkConnectionTab .pageTitleIcon, .individualPalette .partnerNetworkConnectionBlock .pageTitleIcon { background-image: url(/img/icon/pnet_connection32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

.bRelatedList .partnerNetworkConnectionBlock .relatedListIcon, .allTabTab .partnerNetworkConnectionBlock .relatedListIcon { background-image: url(/img/icon/pnet_connection24.png);
	background-position: 0px 0px;width:24px;
	height:24px; }

.bRelatedList .partnerNetworkConnectionBlock .relatedListIcon {
    position: relative;
    display: inline;
}

.bRelatedList .partnerNetworkConnectionBlock .pbTitle h3 {
    margin: 3px 0 0 32px;
}

/* Tag */
.tagTab .primaryPalette,
.individualPalette .tagBlock .primaryPalette {
    background-color: #6cd146;
    border-color: #6cd146;
}

.tagTab .secondaryPalette,
.individualPalette .tagBlock .secondaryPalette {
    background-color: #6cd146;
    border-color: #6cd146;
}

.tagTab .tertiaryPalette,
.individualPalette .tagBlock .tertiaryPalette {
    background-color: #c8ebbb;
    border-color: #c8ebbb;
}

.tagTab .tab .currentTab { background-image: url(/img/motif/left6cd146.gif); }
.tagTab .tab .currentTab div { background-image: url(/img/motif/right6cd146.gif); }
.tagTab .tabNavigation { background-image: url(/img/motif/bg6cd146.gif); }

.tagMru .mruIcon { background-image: url(/img/icon/tag16.gif);
	background-position: 0px 0px;width:16px;
	height:16px; }

.tagTab .pageTitleIcon, .individualPalette .tagBlock .pageTitleIcon { background-image: url(/img/icon/tags32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

.bRelatedList .tagBlock .relatedListIcon, .allTabTab .tagBlock .relatedListIcon { background-image: url(/img/icon/tag16.gif);
	background-position: 0px 0px;width:16px;
	height:16px; }

.bRelatedList .tagBlock .relatedListIcon {
    position: relative;
    display: inline;
}

.bRelatedList .tagBlock .pbTitle h3 {
    margin: 3px 0 0 32px;
}

/* Workspace */
.workspaceTab .primaryPalette,
.individualPalette .workspaceBlock .primaryPalette {
    background-color: #72afba;
    border-color: #72afba;
}

.workspaceTab .secondaryPalette,
.individualPalette .workspaceBlock .secondaryPalette {
    background-color: #72afba;
    border-color: #72afba;
}

.workspaceTab .tertiaryPalette,
.individualPalette .workspaceBlock .tertiaryPalette {
    background-color: #85c4cf;
    border-color: #85c4cf;
}

.workspaceTab .tab .currentTab { background-image: url(/img/motif/left72afba.gif); }
.workspaceTab .tab .currentTab div { background-image: url(/img/motif/right72afba.gif); }
.workspaceTab .tabNavigation { background-image: url(/img/motif/bg72afba.gif); }

.workspaceMru .mruIcon { background-image: url(/img/content/workspace16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.workspaceTab .pageTitleIcon, .individualPalette .workspaceBlock .pageTitleIcon { background-image: url(/img/content/workspace32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

.bRelatedList .workspaceBlock .relatedListIcon, .allTabTab .workspaceBlock .relatedListIcon { background-image: url(/img/content/workspace24.png);
	background-position: 0px 0px;width:24px;
	height:24px; }

.bRelatedList .workspaceBlock .relatedListIcon {
    position: relative;
    display: inline;
}

.bRelatedList .workspaceBlock .pbTitle h3 {
    margin: 3px 0 0 32px;
}

/* ContentSearch */
.contentSearchTab .primaryPalette,
.individualPalette .contentSearchBlock .primaryPalette {
    background-color: #993333;
    border-color: #993333;
}

.contentSearchTab .secondaryPalette,
.individualPalette .contentSearchBlock .secondaryPalette {
    background-color: #993333;
    border-color: #993333;
}

.contentSearchTab .tertiaryPalette,
.individualPalette .contentSearchBlock .tertiaryPalette {
    background-color: #BE5E5E;
    border-color: #BE5E5E;
}

.contentSearchTab .tab .currentTab { background-image: url(/img/motif/left993333.gif); }
.contentSearchTab .tab .currentTab div { background-image: url(/img/motif/right993333.gif); }
.contentSearchTab .tabNavigation { background-image: url(/img/motif/bg993333.gif); }

.contentSearchMru .mruIcon { background-image: url(/img/content/content16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.contentSearchTab .pageTitleIcon, .individualPalette .contentSearchBlock .pageTitleIcon { background-image: url(/img/content/content32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

.bRelatedList .contentSearchBlock .relatedListIcon, .allTabTab .contentSearchBlock .relatedListIcon { background-image: url(/img/content/content24.png);
	background-position: 0px 0px;width:24px;
	height:24px; }

.bRelatedList .contentSearchBlock .relatedListIcon {
    position: relative;
    display: inline;
}

.bRelatedList .contentSearchBlock .pbTitle h3 {
    margin: 3px 0 0 32px;
}

/* ContentSubscriptions */
.contentSubscriptionsTab .primaryPalette,
.individualPalette .contentSubscriptionsBlock .primaryPalette {
    background-color: #26547C;
    border-color: #26547C;
}

.contentSubscriptionsTab .secondaryPalette,
.individualPalette .contentSubscriptionsBlock .secondaryPalette {
    background-color: #26547C;
    border-color: #26547C;
}

.contentSubscriptionsTab .tertiaryPalette,
.individualPalette .contentSubscriptionsBlock .tertiaryPalette {
    background-color: #5E82A3;
    border-color: #5E82A3;
}

.contentSubscriptionsTab .tab .currentTab { background-image: url(/img/motif/left26547C.gif); }
.contentSubscriptionsTab .tab .currentTab div { background-image: url(/img/motif/right26547C.gif); }
.contentSubscriptionsTab .tabNavigation { background-image: url(/img/motif/bg26547C.gif); }

.contentSubscriptionsMru .mruIcon { background-image: url(/img/content/subscriptions16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.contentSubscriptionsTab .pageTitleIcon, .individualPalette .contentSubscriptionsBlock .pageTitleIcon { background-image: url(/img/content/subscriptions32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

.bRelatedList .contentSubscriptionsBlock .relatedListIcon, .allTabTab .contentSubscriptionsBlock .relatedListIcon { background-image: url(/img/content/subscriptions24.png);
	background-position: 0px 0px;width:24px;
	height:24px; }

.bRelatedList .contentSubscriptionsBlock .relatedListIcon {
    position: relative;
    display: inline;
}

.bRelatedList .contentSubscriptionsBlock .pbTitle h3 {
    margin: 3px 0 0 32px;
}

/* ContentContribute */
.contentContributeTab .primaryPalette,
.individualPalette .contentContributeBlock .primaryPalette {
    background-color: #cc6600;
    border-color: #cc6600;
}

.contentContributeTab .secondaryPalette,
.individualPalette .contentContributeBlock .secondaryPalette {
    background-color: #cc6600;
    border-color: #cc6600;
}

.contentContributeTab .tertiaryPalette,
.individualPalette .contentContributeBlock .tertiaryPalette {
    background-color: #d98e42;
    border-color: #d98e42;
}

.contentContributeTab .tab .currentTab { background-image: url(/img/motif/leftcc6600.gif); }
.contentContributeTab .tab .currentTab div { background-image: url(/img/motif/rightcc6600.gif); }
.contentContributeTab .tabNavigation { background-image: url(/img/motif/bgcc6600.gif); }

.contentContributeMru .mruIcon { background-image: url(/img/content/contribute16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.contentContributeTab .pageTitleIcon, .individualPalette .contentContributeBlock .pageTitleIcon { background-image: url(/img/content/contribute32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

.bRelatedList .contentContributeBlock .relatedListIcon, .allTabTab .contentContributeBlock .relatedListIcon { background-image: url(/img/content/contribute24.png);
	background-position: 0px 0px;width:24px;
	height:24px; }

.bRelatedList .contentContributeBlock .relatedListIcon {
    position: relative;
    display: inline;
}

.bRelatedList .contentContributeBlock .pbTitle h3 {
    margin: 3px 0 0 32px;
}

/* ContentFavorites */
.contentFavoritesTab .primaryPalette,
.individualPalette .contentFavoritesBlock .primaryPalette {
    background-color: #CC9933;
    border-color: #CC9933;
}

.contentFavoritesTab .secondaryPalette,
.individualPalette .contentFavoritesBlock .secondaryPalette {
    background-color: #CC9933;
    border-color: #CC9933;
}

.contentFavoritesTab .tertiaryPalette,
.individualPalette .contentFavoritesBlock .tertiaryPalette {
    background-color: #C9AF82;
    border-color: #C9AF82;
}

.contentFavoritesTab .tab .currentTab { background-image: url(/img/motif/leftCC9933.gif); }
.contentFavoritesTab .tab .currentTab div { background-image: url(/img/motif/rightCC9933.gif); }
.contentFavoritesTab .tabNavigation { background-image: url(/img/motif/bgCC9933.gif); }

.contentFavoritesMru .mruIcon { background-image: url(/img/icon/documents16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.contentFavoritesTab .pageTitleIcon, .individualPalette .contentFavoritesBlock .pageTitleIcon { background-image: url(/img/icon/documents32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

.bRelatedList .contentFavoritesBlock .relatedListIcon, .allTabTab .contentFavoritesBlock .relatedListIcon { background-image: url(/img/icon/documents24.png);
	background-position: 0px 0px;width:24px;
	height:24px; }

.bRelatedList .contentFavoritesBlock .relatedListIcon {
    position: relative;
    display: inline;
}

.bRelatedList .contentFavoritesBlock .pbTitle h3 {
    margin: 3px 0 0 32px;
}

/* ContentDistribution */
.contentDistributionTab .primaryPalette,
.individualPalette .contentDistributionBlock .primaryPalette {
    background-color: #993333;
    border-color: #993333;
}

.contentDistributionTab .secondaryPalette,
.individualPalette .contentDistributionBlock .secondaryPalette {
    background-color: #993333;
    border-color: #993333;
}

.contentDistributionTab .tertiaryPalette,
.individualPalette .contentDistributionBlock .tertiaryPalette {
    background-color: #BE5E5E;
    border-color: #BE5E5E;
}

.contentDistributionTab .tab .currentTab { background-image: url(/img/motif/left993333.gif); }
.contentDistributionTab .tab .currentTab div { background-image: url(/img/motif/right993333.gif); }
.contentDistributionTab .tabNavigation { background-image: url(/img/motif/bg993333.gif); }

.contentDistributionMru .mruIcon { background-image: url(/img/content/deliver16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.contentDistributionTab .pageTitleIcon, .individualPalette .contentDistributionBlock .pageTitleIcon { background-image: url(/img/content/deliver32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

.bRelatedList .contentDistributionBlock .relatedListIcon, .allTabTab .contentDistributionBlock .relatedListIcon { background-image: url(/img/content/deliver24.png);
	background-position: 0px 0px;width:24px;
	height:24px; }

.bRelatedList .contentDistributionBlock .relatedListIcon {
    position: relative;
    display: inline;
}

.bRelatedList .contentDistributionBlock .pbTitle h3 {
    margin: 3px 0 0 32px;
}

/* Idea */
.ideaTab .primaryPalette,
.individualPalette .ideaBlock .primaryPalette {
    background-color: #178AFF;
    border-color: #178AFF;
}

.ideaTab .secondaryPalette,
.individualPalette .ideaBlock .secondaryPalette {
    background-color: #178AFF;
    border-color: #178AFF;
}

.ideaTab .tertiaryPalette,
.individualPalette .ideaBlock .tertiaryPalette {
    background-color: #41C1FC;
    border-color: #41C1FC;
}

.ideaTab .tab .currentTab { background-image: url(/img/motif/left178AFF.gif); }
.ideaTab .tab .currentTab div { background-image: url(/img/motif/right178AFF.gif); }
.ideaTab .tabNavigation { background-image: url(/img/motif/bg178AFF.gif); }

.ideaMru .mruIcon { background-image: url(/img/icon/ideabubble16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.ideaTab .pageTitleIcon, .individualPalette .ideaBlock .pageTitleIcon { background-image: url(/img/icon/ideabubble32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

.bRelatedList .ideaBlock .relatedListIcon, .allTabTab .ideaBlock .relatedListIcon { background-image: url(/img/icon/ideabubble24.png);
	background-position: 0px 0px;width:24px;
	height:24px; }

.bRelatedList .ideaBlock .relatedListIcon {
    position: relative;
    display: inline;
}

.bRelatedList .ideaBlock .pbTitle h3 {
    margin: 3px 0 0 32px;
}

/* Answers */
.answersTab .primaryPalette,
.individualPalette .answersBlock .primaryPalette {
    background-color: #36A0FE;
    border-color: #36A0FE;
}

.answersTab .secondaryPalette,
.individualPalette .answersBlock .secondaryPalette {
    background-color: #36A0FE;
    border-color: #36A0FE;
}

.answersTab .tertiaryPalette,
.individualPalette .answersBlock .tertiaryPalette {
    background-color: #F9C57E;
    border-color: #F9C57E;
}

.answersTab .tab .currentTab { background-image: url(/img/motif/left36A0FE.gif); }
.answersTab .tab .currentTab div { background-image: url(/img/motif/right36A0FE.gif); }
.answersTab .tabNavigation { background-image: url(/img/motif/bg36A0FE.gif); }

.answersMru .mruIcon { background-image: url(/img/icon/questions16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.answersTab .pageTitleIcon, .individualPalette .answersBlock .pageTitleIcon { background-image: url(/img/icon/questions32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

.bRelatedList .answersBlock .relatedListIcon, .allTabTab .answersBlock .relatedListIcon { background-image: url(/img/icon/questions24.png);
	background-position: 0px 0px;width:24px;
	height:24px; }

.bRelatedList .answersBlock .relatedListIcon {
    position: relative;
    display: inline;
}

.bRelatedList .answersBlock .pbTitle h3 {
    margin: 3px 0 0 32px;
}

/* GoogleDocs */
.googleDocsTab .primaryPalette,
.individualPalette .googleDocsBlock .primaryPalette {
    background-color: #67A7E3;
    border-color: #67A7E3;
}

.googleDocsTab .secondaryPalette,
.individualPalette .googleDocsBlock .secondaryPalette {
    background-color: #67A7E3;
    border-color: #67A7E3;
}

.googleDocsTab .tertiaryPalette,
.individualPalette .googleDocsBlock .tertiaryPalette {
    background-color: #67A7E3;
    border-color: #67A7E3;
}

.googleDocsTab .tab .currentTab { background-image: url(/img/motif/left67A7E3.gif); }
.googleDocsTab .tab .currentTab div { background-image: url(/img/motif/right67A7E3.gif); }
.googleDocsTab .tabNavigation { background-image: url(/img/motif/bg67A7E3.gif); }

.googleDocsMru .mruIcon { background-image: url(/s.gif);
	background-position: 0px 0px;width:0px;
	height:0px; }

.googleDocsTab .pageTitleIcon, .individualPalette .googleDocsBlock .pageTitleIcon { background-image: url(/img/google/google_docs_icon_24x24.png);
	background-position: 0px 0px;width:24px;
	height:24px; }

.bRelatedList .googleDocsBlock .relatedListIcon, .allTabTab .googleDocsBlock .relatedListIcon { background-image: url(/img/google/google_docs_icon_24x24.png);
	background-position: 0px 0px;width:24px;
	height:24px; }

.bRelatedList .googleDocsBlock .relatedListIcon {
    position: relative;
    display: inline;
}

.bRelatedList .googleDocsBlock .pbTitle h3 {
    margin: 3px 0 0 32px;
}

/* User */
.userTab .primaryPalette,
.individualPalette .userBlock .primaryPalette {
    background-color: #2F527E;
    border-color: #2F527E;
}

.userTab .secondaryPalette,
.individualPalette .userBlock .secondaryPalette {
    background-color: #3A6690;
    border-color: #3A6690;
}

.userTab .tertiaryPalette,
.individualPalette .userBlock .tertiaryPalette {
    background-color: #3A6690;
    border-color: #3A6690;
}

.userTab .tab .currentTab { background-image: url(/img/motif/left2F527E.gif); }
.userTab .tab .currentTab div { background-image: url(/img/motif/right2F527E.gif); }
.userTab .tabNavigation { background-image: url(/img/motif/bg2F527E.gif); }

.userMru .mruIcon { background-image: url(/img/icon/profile16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.userTab .pageTitleIcon, .individualPalette .userBlock .pageTitleIcon { background-image: url(/img/icon/profile32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

.bRelatedList .userBlock .relatedListIcon, .allTabTab .userBlock .relatedListIcon { background-image: url(/img/icon/profile24.png);
	background-position: 0px 0px;width:24px;
	height:24px; }

.bRelatedList .userBlock .relatedListIcon {
    position: relative;
    display: inline;
}

.bRelatedList .userBlock .pbTitle h3 {
    margin: 3px 0 0 32px;
}

/* Knowledge */
.knowledgeTab .primaryPalette,
.individualPalette .knowledgeBlock .primaryPalette {
    background-color: #3F44A4;
    border-color: #3F44A4;
}

.knowledgeTab .secondaryPalette,
.individualPalette .knowledgeBlock .secondaryPalette {
    background-color: #3F44A4;
    border-color: #3F44A4;
}

.knowledgeTab .tertiaryPalette,
.individualPalette .knowledgeBlock .tertiaryPalette {
    background-color: #3F44A4;
    border-color: #3F44A4;
}

.knowledgeTab .tab .currentTab { background-image: url(/img/motif/left3F44A4.gif); }
.knowledgeTab .tab .currentTab div { background-image: url(/img/motif/right3F44A4.gif); }
.knowledgeTab .tabNavigation { background-image: url(/img/motif/bg3F44A4.gif); }

.knowledgeMru .mruIcon { background-image: url(/img/knowledge/knowledge16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.knowledgeTab .pageTitleIcon, .individualPalette .knowledgeBlock .pageTitleIcon { background-image: url(/img/knowledge/knowledge32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

.bRelatedList .knowledgeBlock .relatedListIcon, .allTabTab .knowledgeBlock .relatedListIcon { background-image: url(/img/knowledge/knowledge24.png);
	background-position: 0px 0px;width:24px;
	height:24px; }

.bRelatedList .knowledgeBlock .relatedListIcon {
    position: relative;
    display: inline;
}

.bRelatedList .knowledgeBlock .pbTitle h3 {
    margin: 3px 0 0 32px;
}

/* KnowledgePublishing */
.knowledgePublishingTab .primaryPalette,
.individualPalette .knowledgePublishingBlock .primaryPalette {
    background-color: #3F44A4;
    border-color: #3F44A4;
}

.knowledgePublishingTab .secondaryPalette,
.individualPalette .knowledgePublishingBlock .secondaryPalette {
    background-color: #3F44A4;
    border-color: #3F44A4;
}

.knowledgePublishingTab .tertiaryPalette,
.individualPalette .knowledgePublishingBlock .tertiaryPalette {
    background-color: #6B70C6;
    border-color: #6B70C6;
}

.knowledgePublishingTab .tab .currentTab { background-image: url(/img/motif/left3F44A4.gif); }
.knowledgePublishingTab .tab .currentTab div { background-image: url(/img/motif/right3F44A4.gif); }
.knowledgePublishingTab .tabNavigation { background-image: url(/img/motif/bg3F44A4.gif); }

.knowledgePublishingMru .mruIcon { background-image: url(/img/knowledge/publishing/knowledgemanagement16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.knowledgePublishingTab .pageTitleIcon, .individualPalette .knowledgePublishingBlock .pageTitleIcon { background-image: url(/img/knowledge/publishing/knowledgemanagement32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

.bRelatedList .knowledgePublishingBlock .relatedListIcon, .allTabTab .knowledgePublishingBlock .relatedListIcon { background-image: url(/img/knowledge/publishing/knowledgemanagement24.png);
	background-position: 0px 0px;width:24px;
	height:24px; }

.bRelatedList .knowledgePublishingBlock .relatedListIcon {
    position: relative;
    display: inline;
}

.bRelatedList .knowledgePublishingBlock .pbTitle h3 {
    margin: 3px 0 0 32px;
}

/* Entitlement */
.entitlementTab .primaryPalette,
.individualPalette .entitlementBlock .primaryPalette {
    background-color: #549647;
    border-color: #549647;
}

.entitlementTab .secondaryPalette,
.individualPalette .entitlementBlock .secondaryPalette {
    background-color: #549647;
    border-color: #549647;
}

.entitlementTab .tertiaryPalette,
.individualPalette .entitlementBlock .tertiaryPalette {
    background-color: #6DBA5C;
    border-color: #6DBA5C;
}

.entitlementTab .tab .currentTab { background-image: url(/img/motif/left549647.gif); }
.entitlementTab .tab .currentTab div { background-image: url(/img/motif/right549647.gif); }
.entitlementTab .tabNavigation { background-image: url(/img/motif/bg549647.gif); }

.entitlementMru .mruIcon { background-image: url(/img/icon/entitlements16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.entitlementTab .pageTitleIcon, .individualPalette .entitlementBlock .pageTitleIcon { background-image: url(/img/icon/entitlements32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

.bRelatedList .entitlementBlock .relatedListIcon, .allTabTab .entitlementBlock .relatedListIcon { background-image: url(/img/icon/entitlements24.png);
	background-position: 0px 0px;width:24px;
	height:24px; }

.bRelatedList .entitlementBlock .relatedListIcon {
    position: relative;
    display: inline;
}

.bRelatedList .entitlementBlock .pbTitle h3 {
    margin: 3px 0 0 32px;
}

/* ServiceContract */
.serviceContractTab .primaryPalette,
.individualPalette .serviceContractBlock .primaryPalette {
    background-color: #3F7134;
    border-color: #3F7134;
}

.serviceContractTab .secondaryPalette,
.individualPalette .serviceContractBlock .secondaryPalette {
    background-color: #3F7134;
    border-color: #3F7134;
}

.serviceContractTab .tertiaryPalette,
.individualPalette .serviceContractBlock .tertiaryPalette {
    background-color: #609854;
    border-color: #609854;
}

.serviceContractTab .tab .currentTab { background-image: url(/img/motif/left3F7134.gif); }
.serviceContractTab .tab .currentTab div { background-image: url(/img/motif/right3F7134.gif); }
.serviceContractTab .tabNavigation { background-image: url(/img/motif/bg3F7134.gif); }

.serviceContractMru .mruIcon { background-image: url(/img/icon/service_contracts16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.serviceContractTab .pageTitleIcon, .individualPalette .serviceContractBlock .pageTitleIcon { background-image: url(/img/icon/service_contracts32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

.bRelatedList .serviceContractBlock .relatedListIcon, .allTabTab .serviceContractBlock .relatedListIcon { background-image: url(/img/icon/service_contracts24.png);
	background-position: 0px 0px;width:24px;
	height:24px; }

.bRelatedList .serviceContractBlock .relatedListIcon {
    position: relative;
    display: inline;
}

.bRelatedList .serviceContractBlock .pbTitle h3 {
    margin: 3px 0 0 32px;
}

/* CollaborationGroup */
.collaborationGroupTab .primaryPalette,
.individualPalette .collaborationGroupBlock .primaryPalette {
    background-color: #FF527E;
    border-color: #FF527E;
}

.collaborationGroupTab .secondaryPalette,
.individualPalette .collaborationGroupBlock .secondaryPalette {
    background-color: #EA6690;
    border-color: #EA6690;
}

.collaborationGroupTab .tertiaryPalette,
.individualPalette .collaborationGroupBlock .tertiaryPalette {
    background-color: #EA6690;
    border-color: #EA6690;
}

.collaborationGroupTab .tab .currentTab { background-image: url(/img/motif/leftFF527E.gif); }
.collaborationGroupTab .tab .currentTab div { background-image: url(/img/motif/rightFF527E.gif); }
.collaborationGroupTab .tabNavigation { background-image: url(/img/motif/bgFF527E.gif); }

.collaborationGroupMru .mruIcon { background-image: url(/img/icon/profile16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.collaborationGroupTab .pageTitleIcon, .individualPalette .collaborationGroupBlock .pageTitleIcon { background-image: url(/img/icon/profile32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

.bRelatedList .collaborationGroupBlock .relatedListIcon, .allTabTab .collaborationGroupBlock .relatedListIcon { background-image: url(/img/icon/profile24.png);
	background-position: 0px 0px;width:24px;
	height:24px; }

.bRelatedList .collaborationGroupBlock .relatedListIcon {
    position: relative;
    display: inline;
}

.bRelatedList .collaborationGroupBlock .pbTitle h3 {
    margin: 3px 0 0 32px;
}

/* Message */
.messageTab .primaryPalette,
.individualPalette .messageBlock .primaryPalette {
    background-color: #4F9241;
    border-color: #4F9241;
}

.messageTab .secondaryPalette,
.individualPalette .messageBlock .secondaryPalette {
    background-color: #4F9241;
    border-color: #4F9241;
}

.messageTab .tertiaryPalette,
.individualPalette .messageBlock .tertiaryPalette {
    background-color: #8DAE84;
    border-color: #8DAE84;
}

.messageTab .tab .currentTab { background-image: url(/img/motif/left4F9241.gif); }
.messageTab .tab .currentTab div { background-image: url(/img/motif/right4F9241.gif); }
.messageTab .tabNavigation { background-image: url(/img/motif/bg4F9241.gif); }

.messageMru .mruIcon { background-image: url(/img/icon/home16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }

.messageTab .pageTitleIcon, .individualPalette .messageBlock .pageTitleIcon { background-image: url(/img/icon/home32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }

.bRelatedList .messageBlock .relatedListIcon, .allTabTab .messageBlock .relatedListIcon { background-image: url(/img/icon/home24.png);
	background-position: 0px 0px;width:24px;
	height:24px; }

.bRelatedList .messageBlock .relatedListIcon {
    position: relative;
    display: inline;
}

.bRelatedList .messageBlock .pbTitle h3 {
    margin: 3px 0 0 32px;
}